### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

*.py[cod]

# C extensions
*.so

# Distribution / packaging
.vscode
.Python
env/
venv/
bot/client/package-lock.json
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
.vscode/
botenv/
*.egg-info/
.installed.cfg
*.egg
*.py.swp
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec



# Translations
*.mo
*.pot

# Django stuff:
*.log



### PyCharm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/
assest/

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# mpeltonen/sbt-idea plugin
.idea_modules/


### Django ###
*.log
*.pot
*.pyc
__pycache__/
# user uploaded files
media/

# static files from collectstatic
assets/

# local db
*.db
db.sqlite3

*~

# local setting file
local.py
local.pyc
celerybeat-schedule
images/

